.stage{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 30px;
    margin: 10px;
    padding-left: 10px;
    border-left: 5px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
.forced-inline{
    background-color: green;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;

}

span {
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: cyan;
    display: block;
}
.fab{
    font-size: 40px;
    margin-right: 20px;
}

.colorful {
    background-color: tomato;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.colorful:hover {
    box-shadow: 10px 10px 12px solid gray;
    border-radius: 20px;
    background-image: linear-gradient(blue, blueviolet);
    cursor: pointer;
    transform: scale(0.50) rotate(720deg);
    transition: transform 1s linear 0.5s;
}



.color-text {
    color: turquoise;
}

.photo img {
    width: 70%;
}

.box {
    width: 350px;
    height: 350px;
    margin-right: 3%;
    padding: 5px;
    box-shadow: 10px 10px 12px gray;
    border-radius: 10px;
    overflow-y: scroll;
    border-left: 5px solid;
    border-image: linear-gradient(blue, blueviolet);
    border-image-slice: 1;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}